/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.message-actions {
  margin-left: 10px; /* Add margin for spacing between the message and the button */
}

.delete-button {
  padding: 0;
  font-size: 10px; /* Adjust the font size to control the icon size */
  color: red; /* Set the color for the delete icon */
}

/* Optional: Add hover effect */
.delete-button:hover {
  text-decoration: underline;
}

